@import "/src/styles/mixins.scss";

.card_container {
    @include justi-align-center;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    overflow: hidden;
    cursor: pointer;

    img {
        height: 100%;
        border: 2px solid #182D52;
        border-radius: 15px;
    }

    .content {
        @include justi-align-center;
        width: 100%;
        height: 100%;
        max-width: calc(100% - 160px);
        padding: 0px 20px;
        box-sizing: border-box;

        .inform_area{
            @include flex-column;
            max-width: 90%;

            span {
                padding-right: 30px;
                padding-bottom: 10px;
                font-size: 20px;
                font-weight: 700;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
    
            p {
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                width: calc(100% - 60px);
                color: #b0b0b0;
                font-size: 15px;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        .arrow {
            position: fixed;
            right: 20px;
        }
    }
}