@import "/src/styles/mixins.scss";

.page_container {
    @include flex-column;
    gap: 20px;

    .status {
        display: flex;
        gap: 20px;
    }

    .table_container {
        padding: 20px;

        .book_table {

            .table_header {
                background: #000;
            }

            .table_row {
                cursor: pointer;

                .author {
                    max-width: 150px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &:hover {
                    font-weight: 700;
                }
            }
        }
    }

    .filter {
        @include justi-align-center;
        gap: 20px;
        padding: 20px 30px;

        .select_filter {
            max-width: 180px;
        }

        .button {
            display: flex;
            gap: 5px;
            background-color: #307cff;
        }

        .input {
            max-width: 300px;
        }
    }

    .no_data {
        min-height: 600px;
    }

    .default_button {
        min-width: 80px;
        gap: 10px;
        background-color: #307cff;
    }

    .activated_button {
        min-width: 80px;
        gap: 10px;
        background-color: #ff4040;
    }

    .bookmarked_button {
        min-width: 80px;
        gap: 10px;
        background-color: #2a23ad;
    }
}

@media (max-width: 1200px) {
    .page_container {

        .table_container {

            .book_table {
                min-width: 1200px;
            }
        }
    }
}

@media (max-width: 768px) {
    .page_container {

        .filter {
            flex-direction: column;

            .select_filter {
                width: 100%;
                max-width: none;
            }

            .input {
                max-width: none;
            }

            .button {
                width: 100%;
            }
        }

        .status {
            overflow-x: scroll;
        }
    } 
}