@import "/src/styles/mixins.scss";

.page_container {
    @include flex-column;
    gap: 20px;

    .filter {
        @include justi-align-center;
        gap: 20px;
        padding: 20px 30px;

        .button {
            display: flex;
            gap: 5px;
            background-color: #307cff;
        }

        .input {
            width: 100%;
            max-width: 300px;
        }

        .select {
            width: 100%;
            max-width: 180px;
        }
    }

    .files {

        .file_content {

            .bookmark_table {
                min-width: 1000px;
            }

            .file_name {
                cursor: pointer;
            }

            .author {
                max-width: 150px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .dialog_title {
            display: flex;
            padding-bottom: 20px;

            span {
                display: flex;
                color: black !important;
            }
        }
    }
}

@media (max-width: 768px) {
    .page_container { 

        .filter {
            flex-direction: column;

            .button {
                width: 100%;
            }

            .input {
                max-width: none;
            }

            .select {
                max-width: none;
            }
        }
    }
}