@import "/src/styles/mixins.scss";

@keyframes shiver {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(10px);
    }
}

@keyframes gradientMove {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 0% 90%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 90% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.nav_container_max {
    display: flex;
    position: fixed;
    width: 250px;
    height: calc(100% - 40px);
    margin: 20px;
    border: 0.5px solid #23447d;
    border-radius: 15px;
    background: linear-gradient(45deg, #182D52, #112c5b, #1952b5, #23447d , #204079);
    background-size: 200% 200%;
    animation: gradientMove 10s ease-in-out infinite;
    overflow-y: scroll;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    .logo_area {
        @include align-center;
    }

    .nav_main {
        @include flex-column;
        width: 100%;
        height: 100%;
        gap: 20px;
        padding: 30px 0px;
    
        .profile_section {
            @include flex-column-center;
            width: 100%;
            gap: 5px;
            margin: 25px 0px;
    
            img {
                width: 100px;
                border-radius: 50px;
                cursor: pointer;
                user-select: none;
            }
    
            span:nth-child(2) {
                font-size: 18px;
                font-weight: 700;
                text-align: center;
            }

            span:nth-child(3) {
                color: rgb(202, 201, 201);
                font-size: 14px;
                text-align: center;
            }
    
            .menu_name {
                color: #c0c0c0;
                font-size: 13px;
            }
        }

        .divider {
            display: none;
        }
    
        .link_section {
            @include flex-column;
    
            .menu_list {
                @include align-center;
                position: relative;
                width: 100%;
                gap: 20px;
                padding: 10px 35px;
                box-sizing: border-box;
                cursor: pointer;
                transition-duration: 0.5s;
    
                .bar {
                    position: absolute;
                    width: 0px;
                    height: 100%;
                    left: 0px;
                    background-color: #fff;
                    transition-duration: 0.5s;
                }
    
                &:hover {
                    background-color: #1f50a4;
                }
    
                &:hover > .bar {
                    width: 10px;
                }

                .menu_icon {
                    @include justi-align-center;
                    padding: 10px;
                    box-sizing: border-box;
                    border-radius: 10px;
                    transition-duration: 0.2s;
                }
        
                &:hover > .menu_icon {
                    border-radius: 20px;
                    background-color: #4787F5;
                    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
                    scale: 1.1;
                }
            }
        }
    
        .sign_out {
            @include justi-align-center;
            padding: 5px 20px;
            border-radius: 4px;
            background-color: #fff;
            color : #182D52;
            font-weight: 700;
            cursor: pointer;
            transition-duration: 0.5s;

            &:hover {
                scale: 1.2;
            }
        }

        .additional_section {
            @include justi-align-center;
            gap: 5px;
            padding: 15px;
            margin: 30px 20px;
            border-radius: 15px;
            background-color: #ffffff;
            color: #182D52;
            cursor: pointer;
        }
    }

    .nav_controller {
        @include justi-align-center;
        position: absolute;
        height: 100vh;
        width: 7px;
        right: 0px;
        cursor: col-resize;

        .nav_sizing {
            display: none;
            width: 3px;
            height: 60px;
            background-color: #fff;
        }

        &:hover {
            background-color: grey;
        }

        &:hover > .nav_sizing {
            display: flex;
        }
    }

    .menu_list_active {
        @include align-center;
        position: relative;
        width: 100%;
        gap: 20px;
        padding: 10px 35px;
        box-sizing: border-box;
        background-color: #1f50a4;
        cursor: pointer;
        transition-duration: 0.5s;
    
        .bar {
            position: absolute;
            width: 10px;
            height: 100%;
            left: 0px;
            background-color: #fff;
            transition-duration: 0.5s;
        }
    
        .menu_icon {
            @include justi-align-center;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 20px;
            background-color: #4787F5;
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
            scale: 1.1;
            transition-duration: 0.2s;
        }
    }
}

.nav_container_min {
    @include flex-column-center;
    position: fixed;
    width: 100px;
    padding: 30px;
    margin: 20px;
    border: 0.5px solid #23447d;
    border-radius: 15px;
    background: linear-gradient(45deg, #182D52, #112c5b, #1952b5, #23447d , #204079);
    background-size: 200% 200%;
    animation: gradientMove 10s ease-in-out infinite;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    .logo_area {
        display: none;
    }

    .nav_main {
        @include flex-column-center;
        gap: 20px;

        .profile_section {
            @include flex-column-center;
            width: 100%;

            img {
                width: 50px;
                border-radius: 25px;
                cursor: pointer;
                user-select: none;
            }

            span {
                display: none;
            }
        }
    }

    .divider {
        width: 100%;
        height: 0.5px;
        background-color: #fff;
    }

    .link_section {
        @include flex-column-center;
        gap: 30px;

        .menu_list {
            cursor: pointer;

            .menu_name {
                display: none;
            }

            .bar {
                display: none;
            }

            .menu_icon {
                @include justi-align-center;
                padding: 10px;
                box-sizing: border-box;
                border-radius: 10px;
                transition-duration: 0.2s;
            }
    
            &:hover > .menu_icon {
                border-radius: 20px;
                background-color: #4787F5;
                box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
                scale: 1.3;
            }
        }
    }

    .additional_section {
        display: none;
    }

    .nav_controller {
        @include justi-align-center;
        position: absolute;
        height: 7px;
        width: 100%;
        bottom: 0px;
        margin-bottom: 10px;
        cursor: col-resize;

        .nav_sizing {
            width: 40px;
            height: 3px;
            border-radius: 4px;
            background-color: lightgray;
            transition-duration: 0.5s;
        }

        &:hover > .nav_sizing {
            scale: 1.2;
        }
    }

    .menu_list_active {
        cursor: pointer;

        .menu_name {
            display: none;
        }

        .menu_icon {
            @include justi-align-center;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 20px;
            background-color: #4787F5;
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
            scale: 1.3;
            transition-duration: 0.2s;
        }
    }
}

@media (max-width: 1100px){
    .nav_container_max, .nav_container_min {
        @include align-center;
        width: calc(100% - 20px);
        height: 80px;
        margin: 10px;
        z-index: 100;
        transition-duration: 0.5s;

        .logo_area {
            display: none;
        }

        .nav_main {
            @include justi-align-center;
            flex-direction: row;
            gap: 20px;
            padding: 0px;
            margin: 0px;

            .profile_section {
                width: auto;

                img {
                    width: 35px;
                    border-radius: 25px;
                    cursor: pointer;
                    user-select: none;
                }
    
                span {
                    display: none;
                }
            }

            .divider {
                display: flex;
                width: 0.5px;
                height: 50%;
                background-color: #ffffff;
            }

            .link_section {
                flex-direction: row;
                gap: 15px;

                span {
                    display: none;
                }

                .menu_list {
                    @include align-center;
                    position: relative;
                    width: 100%;
                    gap: 20px;
                    padding: 0px;
                    cursor: pointer;

                    .bar {
                        display: none;
                    }
        
                    .menu_name {
                        display: none;
                    }
        
                    .menu_icon {
                        @include justi-align-center;
                        padding: 5px;
                        box-sizing: border-box;
                        border-radius: 10px;
                        transition-duration: 0.2s;
                    }

                    &:hover {
                        background-color: transparent;
                    }
            
                    &:hover > .menu_icon {
                        border-radius: 10px;
                        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
                        scale: 1;
                    }
                }

                .menu_list_active {
                    @include align-center;
                    position: unset;
                    flex-direction: row;
                    width: 100%;
                    gap: 0px;
                    padding: 0px;
                    background-color: transparent;
                    cursor: pointer;

                    .bar {
                        display: none;
                    }
            
                    .menu_icon {
                        @include justi-align-center;
                        padding: 5px;
                        box-sizing: border-box;
                        border-radius: 10px;
                        background-color: none;
                        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
                        scale: 1;
                        transition-duration: 0.2s;
                    }

                }
            }

            .additional_section {
                display: flex;
                padding: 5px;
                border-radius: 10px;
                color : #182D52;
                background-color: #ffffff;
                margin: 0px;

                span {
                    display: none;
                }
            }
        }

        .nav_controller {
            display: none;
        }
    }
}