@import "/src/styles/mixins.scss";

.page_container {
    @include flex-column;
    gap: 20px;

    .status {
        display: flex;
        gap: 20px;
    }

    .history {

        .history_content {

            .table_row {
                &:hover {
                    cursor: pointer;
                    font-weight: 700;
                }
            }
        }
    }

    .calendar {
        @include flex-column;
        width: 100%;
        overflow: hidden;

        .calendar_header {
            width: 100%;
            padding-bottom: 20px;
        }

        .calendar_content {
            display: flex;
            width: 100%;
            gap: 20px;
            padding-bottom: 0px;

            .calendar_main {
                padding: 0px;
                color: #182D52;
                background-color: #ffffff;
            }

            .no_results {
                @include flex-column-center;
                width: 100%;
                color: #d3d3d3;
                user-select: none;
            }
        }
    }

    .recommand {
        @include flex-column;
        max-width: 50%;

        .recommand_header {
            padding-bottom: 20px;
        }

        .recommand_content {
            @include justi-align-center;
            height: 100%;

            .swiper {
                display: flex;
                height: 100%;

                .swiper_pagination {
                    transform: translate(0px , 5px);
                }
            }
        }
    }

    .files {

        .file_header {
            padding-bottom: 20px;
        }

        .file_content {

            .file_name {
                @include align-center;
                gap: 5px;
                text-decoration: underline;
                cursor: pointer;

                .icon {
                    width: 15px;
                }

                &:hover {
                    font-weight: 700;
                }
            }
        }
    }

    .button {
        background-color: #307cff;
    }
}

@media (max-width: 768px) {
    .page_container {

        .status {
            flex-direction: column;
            width: 100%;
        }

        .history {

            .history_content {

                .history_table {
                    min-width: 750px;
                }

                .table_row {

                    &:hover {
                        cursor: pointer;
                        font-weight: 700;
                    }
                }
            }
        }

        .recommand {
            max-width: 100%;

            .recommand_content {

                .swiper {
                    max-height: 150px;
                    margin-bottom: 30px;
                }
            }
        }

        .file_content {

            .file_table {
                min-width: 750px;
            }
        }
    }
}