@import "/src/styles/mixins.scss";

.page_container {
    @include flex-column;
    gap: 20px;

    .status {
        display: flex;
        gap: 20px;
    }

    .history {

        .history_content {

            .table_row {
                &:hover {
                    cursor: pointer;
                    font-weight: 700;
                }
            }
        }
    }

    .calendar {
        @include flex-column;
        width: 100%;
        overflow: hidden;

        .calendar_header {
            width: 100%;
            padding-bottom: 20px;
        }

        .calendar_content {
            display: flex;
            width: 100%;
            gap: 25px;
            padding-bottom: 0px;

            .calendar_main {
                max-width: 244px;
                padding: 0px;
                color: #182D52;
                background-color: #ffffff;
            }

            .event_list {
                @include flex-column;
                width: 100%;
                max-height: 260px;
                gap: 5px;
                overflow: scroll;

                .event_item {
                    @include flex-column;
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #d9d9d9;
                    border-radius: 10px;
                    background-color: #f7f7f7;

                    .event_title {
                        @include align-center;
                        width: 100%;
                        gap: 10px;
                        font-weight: bold;
                        font-size: 14px;
                        
                        .dot_blue {
                            width: 6px;
                            height: 6px;
                            min-width: 6px;
                            border-radius: 3px;
                            background-color: #307cff;
                        }

                        .dot_red {
                            width: 6px;
                            height: 6px;
                            min-width: 6px;
                            border-radius: 3px;
                            background-color: #ff3030;
                        }

                        span {
                            width: calc(100% - 16px);
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    .description {
                        color: #a9a9a9;
                        font-size: 12px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .no_results {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 261px;
                    color: #d3d3d3;
                    user-select: none;
                }
            }
        }
    }

    .recommand {
        @include flex-column;
        max-width: 50%;

        .recommand_header {
            padding-bottom: 20px;
        }

        .recommand_content {
            @include justi-align-center;
            height: 100%;

            .swiper {
                display: flex;
                height: 100%;

                .swiper_pagination {
                    transform: translate(0px , 5px);
                }
            }
        }
    }

    .files {

        .file_header {
            padding-bottom: 20px;
        }

        .file_content {

            .file_name {
                @include align-center;
                gap: 5px;
                text-decoration: underline;
                cursor: pointer;

                .icon {
                    width: 15px;
                }

                &:hover {
                    font-weight: 700;
                }
            }
        }
    }

    .button {
        background-color: #307cff;
    }
}

@media (max-width: 768px) {
    .page_container {

        .status {
            flex-direction: column;
            width: 100%;

            .calendar_content {
                align-items: center;
                flex-direction: column;
                gap: 25px;
            }
        }

        .history {

            .history_content {

                .history_table {
                    min-width: 750px;
                }

                .table_row {

                    &:hover {
                        cursor: pointer;
                        font-weight: 700;
                    }
                }
            }
        }

        .recommand {
            max-width: 100%;

            .recommand_content {

                .swiper {
                    max-height: 150px;
                    margin-bottom: 30px;
                }
            }
        }

        .file_content {

            .file_table {
                min-width: 750px;
            }
        }
    }
}