@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 24, 45, 82;
    --background-end-rgb: 24, 45, 82;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main_maximized {
  margin-left: 290px;
  padding: 20px 20px 20px 0;
}

.main_minimized {
  margin-left: 140px;
  padding: 20px 20px 20px 0;
  transition-duration: 0.5s;
}

@media (max-width: 768px) {
  .main_maximized, .main_minimized {
    margin-left: 0px;
    padding: 130px 20px 20px 20px;
    transition-duration: 0.5s;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
