@import "/src/styles/mixins.scss";

@keyframes rotateIcon{
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.page_container {
    @include flex-column;
    gap: 20px;

    .filter {
        @include justi-align-center;
        gap: 20px;
        padding: 20px 30px;

        .select_filter {
            width: 180px;
        }

        .button {
            display: flex;
            gap: 5px;
            background-color: #307cff;
        }

        .input {
            max-width: 300px;
        }
    }

    .files {

        .file_content {

            .file_table {
                min-width: 800px;

                .file_name {
                    @include align-center;
                    gap: 5px;
                    text-decoration: underline;
                    cursor: pointer;

                    .icon {
                        width: 15px;
                    }

                    &:hover {
                        font-weight: 700;
                    }
                }

                .table_buttons {
                    display: flex;
                    gap: 10px;

                    .button_edit {
                        background-color: #307cff;
                    }

                    .button_delete {
                        background-color: #ff4040;
                    }
                }

                
            }
        }

        .dialog_title {
            display: flex;
            padding-bottom: 20px;
            color: black;

            span {
                display: flex;
                color: black !important;
            }
        }
    }
    
}

.modal_button {
    background-color: #307cff;

    &:hover {
        background-color: #307cff;;
    }
}

.input_area {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

    .file_description {
        height: 150px;
    }

    .upload_button {
        background-color: #307cff;

        .uploading {
            @include justi-align-center;
            gap: 5px;

            .spinner {
                animation: rotateIcon 1s infinite;
            }
        }
    }
}

@media (max-width : 768px) {
    .page_container {

        .filter {
            flex-direction: column;

            .select_filter {
                width: 100%;
            }

            .input {
                max-width: none;
            }

            .button {
                width: 100%;
            }
        }
    }

    .upload_modal_content {
        max-width: 90%;
    }
}