@import '/src/styles/mixins.scss';

.page_container {
    @include flex-column-center;
    height: 100vh;
    background-color: #182D52;

    .login_button {
        background-color: #307cff;
    }
}