@import '/src/styles/mixins.scss';

.page_container {
    @include flex-column-center;
    height: 100vh;
    background-color: #182D52;

    .section_1 {
        width: 100vw;
        height: 100vh;
        background-image: url('/image/library.jpg');
    }
}