@import "../../../styles/mixins.scss";

.page_container {
    @include justi-between;
    width: 100%;
    height: 100%;

    .profile_area {
        @include flex-column-center;
        width: 100%;

        .profile_header {
            
            img {
                width: 200px;
                height: 200px;
                border: 5px solid #182d52;
                border-radius: 150px;
            }
        }

        .user_information {
            @include flex-column;
            width: 100%;
            max-width: 400px;
            gap: 25px;

            .inform_area {
                @include flex-column;
                gap: 5px;

                .subtitle {
                    font-size: 17px;
                    font-weight: bold;
                }
            }
        }

        .footer_area {

            .sign_out {
                @include justi-align-center;
                padding: 5px 20px;
                border-radius: 10px;
                color : #ffffff;
                font-weight: 700;
                background-color: #ff4040;
                cursor: pointer;
            }
        }
    }
}